body		{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: black;}
p			{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: black;}
a			{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #666699;}
a:visted	{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #4d4d75;}