body		{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: white;}
p			{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: white;}
a			{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: white;}
a:visted	{font-family: arial, helvetica, sans-serif; font-size: 9pt; color: #FDEB99;}
