body 		{margin:0; padding:0; font-family:Courier,'Courier New',sans-serif; font-size:100%; color:#000; background:#eee;}

a           {color:#ffffff; text-decoration:none;}
a:visited   {color:#ffffff;}
a:active    {color:#33dd33;}
a:hover     {color:orange;}

#f0 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#f90;}
#f1 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f2 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f3 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f4 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f5 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f6 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f7 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
#f8 {position:absolute; z-index:6; left:0; top:0; width:10px; height:10px; background:#999;}
