

body        {background-color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;}
td          {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt;}
h1          {font-size: 20pt; font-weight: normal;}
h2          {font-size: 16pt; font-weight: normal;}
h3          {font-size: 14pt; font-weight: normal;}
h4          {font-size: 12pt;}