
/* ----- text styles ----- */

body {
    padding: 0;
    margin: 0 10%;
    color: black; 
    background: #ffffff; 
    font: 12px 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 24px;
	background-image: url(../images/FTA_118x68.gif); background-repeat: no-repeat;
	padding: 30px 0px 30px 110px;
	margin: 0;
}
h1 small {
	font-size: 14px;
}
h2 {
    font-size: 18px;
    margin: 0ex 0em 0.3ex 0em;
}
h3 {
    font-size: 16px;
    margin: 0ex 0em 0ex 0em;
}
h4 {
    font-size: 12px;
    margin: 0.3ex 0em 0ex 0em;
    text-align: left;
}
p {
    margin-bottom: 2ex;
}

/* ----- link styles ----- */

a:link {
    color: #aa8800;
    text-decoration: none;
}
a:visited { 
    color: #886600; 
    text-decoration: none;
}
a:hover {
    color: #ffcc00; 
    text-decoration: underline;
}
a[href^="http:"] {  
    background: url(../images/external_gold.gif) right center no-repeat; 
    padding-right: 15px; 
    margin-right: 1px;
}
#footer a:link {
    color: #gray;
    text-decoration: none;
}
#footer a:visited { 
    color: #gray; 
    text-decoration: none;
}
#footer a:hover {
    color: #gray; 
    text-decoration: underline;
}
#footer a[href^="http:"] {  
    background: url(../images/external_grey.gif) right center no-repeat; 
    padding-right: 15px; 
    margin-right: 1px;
}

/* ----- positioning ----- */

#header {
    text-align: center;
    padding: 10px;
    margin: 2ex 0ex;
    /*border: 1px dotted gray;*/
    border-bottom: 1px solid gray;
}
#nav {
    float: right;
    width: 24ex;
    margin: 2ex 0ex 2ex 2ex;
    border: 1px solid gray;
}
#content {
    margin: 4ex 26ex 2ex 0ex;
}
#footer {
	clear: both;
    font-size: 10px;
    text-align: center;
    color: gray;
    /*border: 1px dashed gray;*/
    border-top: 1px solid gray;
    padding: 10px;
    margin: 2ex 0ex;
}
#styleswitcher {
    text-align:center;
}

/* ----- nav menu styles ----- */

#nav h3 {
	font-size: 13px;
	font-weight: bold;
	background-color: #ccc;
	margin: 0px;
	padding: 5px 10px;
    border-bottom: 1px solid gray;
}
#nav ul {
	font-size: 13px;
    margin: 10px 0px;
    padding: 0px 10px;
    text-indent: 0ex;
    list-style-type: none;
}
#nav ul ul {
	font-size: 11px;
    margin: 0px 0px 10px 0px;
    padding: 0px 20px;
    text-indent: 0ex;
    list-style-image: url(../images/sq.gif);
}
#nav li {
    margin: 5px 0px;
}

/* ----- miscellaneous ----- */

.comment {
	color: green;
	font-weight: normal;
}
.alert {
	color: red;
	font-weight: bold;
}
