
nav {position:fixed !important; top:0; left:0; width:0; z-index:99;}
nav ul li {position:absolute; left:-999px; top:0; list-style:none; touch-action:none;}

#p0 {width:1em; height:1em; background:#f90; cursor:grab;}
#p0:hover {background:#f60;}
#p0.dragging {background:#f30; cursor:pointer;}

@media (max-width:29.99rem) {
	nav ul li {display:inline-block; list-style:none; margin:0; padding:0; border-right:0;}
}
@media (min-width:30rem) {
	nav {position:fixed !important; top:0; left:0; width:0; z-index:99;}
}
@media (min-width:50rem) {
	nav {position:fixed !important; top:0; left:0; width:0; z-index:99;}
}

