
body        {background-color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
td       	{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
h1          {font-size: 20px;}
h2          {font-size: 16px;}
h3          {font-size: 14px;}
h4          {font-size: 10px;}

a           {color:#cccccc;text-decoration:none;}
a:Visited   {color:#cccccc;}
a:Active    {color:#33dd33;}
a:Hover     {color:orange;}

/*
body        {background-color: #ffffff; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #333333}
h1          {font-size: 17px;}
h2          {font-size: 16px;}
h3          {font-size: 14px; border: 1px solid #aaaaaa; padding:2px;}
h4          {font-size: 10px;}

a           {color:#cc5500;text-decoration:none;}
a:Visited   {color:#cc5500;}
a:Active    {color:#cc5500;}
a:Hover     {color:#cc5500;}
*/

.bd	{
	border:1px solid #000000; 
	padding:3px; 
	padding-left:5px; 
	padding-right:5px; 
	background-color:#777777;
}

hr			{width:90%;}
#content 	{position:absolute; top:7%; left:35%; width:60%;}
#links 		{position:absolute; top:7%; left:5%; width:25%; font-size:10px;}