body	{background-color: #666699; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; color: #FFFFFF}
p       {font-size: 8pt;}
td      {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 8pt; color: #FFFFFF}
big		{font-size: 10pt;}
small	{font-size: 7pt;}
