body	{background-color: #996666; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10pt; color: #FFFFFF}
p       {font-size: 10pt;}
td      {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10pt; color: #FFFFFF}
big		{font-size: 12pt;}
small	{font-size: 8pt;}
