body	{background-color: #669966; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9pt; color: #FFFFFF}
p       {font-size: 9pt;}
td      {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9pt; color: #FFFFFF}
big		{font-size: 11pt;}
small	{font-size: 8pt;}
